<!-- knockout.js with: home -->

<style>
</style>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Developer Journey!</h1>
        <p class="content">
            This page was initially just another learning adventure,
            but I want to take this opportunity to help others.
            Specifically, those who may at times feel overwhelmed.
        </p>
        <p>
            <a href="https://github.com/petreyus/"
               class="btn btn-primary btn-lg">



                MyGitHub
            </a>
        </p>
    </div>
</div>



<hr />

<div class="AboutMe">
    <h2></h2>
    <p></p>
    <p data-bind="text: myHometown"></p>

    <p>
        <a class="btn btn-primary btn-block"
           style="
                        background-color: lightslategrey;
                        width:100%;
                        font-size: 25px;
                        color: black;
                        letter-spacing: 8px;
                        padding: 8px 12px;
                        font-size: 14px;
                        font-weight: normal;
                      "
           @*Change this link below*@
           href="https://docs.google.com/document/d/12rEu-qmwIc23EX5s7ZHJh-JsV8qTFxnRh3hz1CQWUzo/edit?usp=sharing">Blog posts: Archive &raquo;&raquo;</a>
    </p>
</div>


<hr />


<div class="row">



    <div class="Portfolio"
         style="overflow:hidden;
                max-height:250px;
                height:250px;
                display: inline-block;
              ">

        <h2>"There's just too much to learn!"</h2>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/12rEu-qmwIc23EX5s7ZHJh-JsV8qTFxnRh3hz1CQWUzo/edit?usp=sharing">Keep reading &raquo;&raquo;</a></p>
        <p>


            Do not fear!
            This question is actually a really good sign that you should be a programmer!
            Portfolio pages was initially just another learning adventure,
            but I want to take this opportunity to help others.
            Specifically, those who may be feeling overwhelmed by the sheer immensity of knowledge  available to senior and junior devs alike.


        </p>

    </div>
</div>
<div class="Portfolio"
     style="overflow:hidden;
                max-height:250px;
                height:250px;
                display: inline-block;
              ">

    <h2>“Start small, but think BIG.”</h2>
    <p><a class="btn btn-default" href="https://docs.google.com/document/d/1s5T6kNaUaUZPf7eMYqIXqJ3ENK-89u3gUmrLSO5DBY0/edit?usp=sharing">Keep reading &raquo;&raquo;</a></p>
    <p>


        My portfolio pages are a good example of applying this principle.
        At the current time of writing this, I am using google docs as my blogging solution.
        Instead of creating a wordpress site like most others, I solved the problem distilling it to its basic part:
        “I want to write and allow others to comment on my writing”.
        Now this problem can easily be solved by my current solution.

    </p>

</div>



<div class="Portfolio"
     style="overflow:hidden;
                max-height:250px;
                height:250px;
                display: inline-block;
              ">

    <h2>
        “Help! Stuck in Tutorial Hell!”
    </h2>
    <p>
        <a class="btn btn-default" href="https://docs.google.com/document/d/1VlKFzzBic0fJhxVHoiVsqwabne9Qsxs_39L5Mor4Sp4/edit?usp=sharing
">Keep reading &raquo;&raquo;</a>
    </p>
    <p>


        Tutorial hell can be defined simply as: “continually watching others break down complex problems
        without attempting them yourself”.

        If you never start on a blank sheet, you are handicapping yourself as a developer.
        Of course, in a production setting, having boilerplate code is the standard. After all you do not want to keep reinventing the wheel.


    </p>

</div>
<div class="Portfolio"
     style="overflow:hidden;
                max-height:250px;
                height:250px;
                display: inline-block;
              ">

    <h2>
        “Help I’m just stuck.”

    </h2>
    <p>
        <a class="btn btn-default" href="https://docs.google.com/document/d/1JMVAsLz7GGIP5ULr9y1B7AVeGg3wfj5_eNEMfpyNL_Y/edit?usp=sharing
">Keep reading &raquo;&raquo;</a>
   </p>
    <p>


        This is a commonality that all devs share. We ALL get stuck, and the good devs are quick to get unstuck, but how?
        There is a plethora of resources available on Google;
        finding the correct ones for your particular problem is paramount for programmers.


    </p>
</div>
